#login_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
    border-color: rgba(195, 232, 213, 0.9);
    border-style: solid;
    padding: 15px;
    width: 350px;
}


#register-form-box{
    margin-top: 10%;
    display: block;
    text-align: center;
}

#register-form div{
    margin-bottom: 5px;
}

.plan_div{
    display: flex;
    margin-top: 50px;;
}
.flex_child{
    flex: 1;
}


.day{
    font-size: 30px;
    margin-left: 15px;
}

.lesson_div{
    text-align: center;
    background: rgba(195, 232, 213, 0.50);
    border-radius: 15px;
    max-width: 150px;
    padding: 10px;
    margin-bottom: 10px;
}

.time_lesson{
    font-size: 10px;
}

.homework_display{
    background-color: rgba(235, 245, 250, 0.8);
    margin-left: 5%;
    margin-top: 20px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgba(181, 182, 182, 0.8);
    padding: 5px;
    max-width: 85%;
}

.homework-contents{
    width: 100%;
    right: 70%;
    text-align: left;
}

.homework-submit-button{
    border-style: solid;
    border-radius: 5px;
    border-color: #42abe3;
    background-color: #42abe3;
}

.homework-submit-button:hover{
    background-color: #2e769d;
    border-color: #2e769d;
}
.grade_view{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
}

.submissions-form{
    width: 100%;
    text-align: center;
}

.submissions-form input{
    margin-bottom: 10px;
}

.submissions-form input[type="number"]{
    width: 180px
}

.submissions-form input[type="text"]{
    width: 500dpx
}

.answer-box{
    font-size: 24px;
    border-style: solid;
    border-color: grey;
    padding: 5px;
    margin-bottom: 10px;
}

.grade{
    display: inline;
    background-color: greenyellow;
    border-style: solid;
    border-radius: 4px  ;
    border-width: 2px;
    padding: 4px;
    color: white;
}

#homework-page{
    position: absolute;
    left: 40%;
    top: 20%;
}

.homework-box{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    background-color: rgba(235, 245, 250, 0.8);
}

#homework-content{
    width: 100%;
    height: 200px;
}

#homework-submit{
    background-color: #42abe3;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-bottom: 5px;
}

.subject-page{
    display: flex;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.subject-box{
    width: 50%;
    padding-top: 10px;
    background-color: rgba(239, 239, 239, 0.6);
}

.average{
    width: fit-content;
    background-color: white;
    font-size: 20px;
}
    
.grades-box{
    height: 100%;
    width: 60%;
    background-color: white;
    padding-left: 20px;
}

#home-page{
    display: flex;
    margin-top: 50px;
    width: 100%;
}

#home-homeworks{
    width: 40%;
    margin-left: 20%;
    
}

.home-box{
    display: flex;
    font-size: 20px;
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: #f4f5f7;
    width: 80%;
    padding: 10px;
}
.view-button{
    margin-left: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: powderblue;
    background-color: powderblue;
}

.view-button:hover{
    background-color: #4dc1ff6b;
    border-color: #4dc1ff6b;
}
#home-grades{
    border-style: solid;
    border-radius: 5px;
    border-color: #f4f5f7;
    width: 20%;
    padding: 15px;
}

#add-form{
    padding: 15px;
    display: block;
    margin-left: 40%;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(170, 169, 169, 0.847);
    box-shadow: 10px 10px 5px #888888;
}

.add-field{
    margin-bottom: 10px;
}

.submission{
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    border-style: solid;
    font-size: 20px;
}

@media (max-width: 768px) {
    .plan_div{
        width: 100%;
        margin-left: 30%;
        display: block;
    }
    .flex_child{
        margin-bottom: 30px;
    }
    #add-form{
        width: 80%;
        margin-left: 12%;
        margin-top: 10%;
    }
    #homework-page{
        left: 3.5%;
    }
    #home-page{
        display: block;
        width: 100%;
    }
    #home-homeworks{
        width: 80%;
    }
    #home-grades{
        width: 64%;
        margin-left: 20%;
    }
}
