{% extends "classroom/layout.html" %}

{% load static %}

{%block title%}
    Homework
{%endblock%}

{%block body%}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% if perrmision == True %}
    <button id="homework_button">Homeworks</button>
    <button id="add_button">Add Homework</button>
    {%endif%}
    <div id="homework">
        {%for homework in homeworks%}
            <div class="homework_display">
                <h3>{{homework.get_subject_display}}</h3>
                <div style="display: flex;">
                <div class="homework-contents" style="display: flex;"> {% if perrmision == True %}{{homework.group}}{%endif%}
                {{homework.content}} <div style="color: rgba(66, 66, 66, 0.8)">&nbsp;Due to: {{homework.deadline}}</div></div>
                {% if perrmision == False %}
                    <div class="homework-submit-button"><a style="color: rgba(221, 221, 221, 0.843)" href="{% url 'submission' homework.pk %}">Submit</a></div>
                {% endif %}
                {% if perrmision == True %}
                    <div class="homework-submit-button" ><a style="color: rgba(221, 221, 221, 0.843)" href="{% url 'submission' homework.pk %}"> See submissions</a></div>
                {%endif%}
                </div>
            </div>
            {%endfor%}
    </div>
    {% if perrmision == True %}
    <div id="add">
        <div id="add-form">
            <form action="" method="post">
                {%csrf_token%}
                <div class="add-field">
                    <select name="subject">
                        {%for subject in subjects%}
                            <option  value="{{subject.0}}">{{subject.1}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="add-field"><textarea required name="content" placeholder="Type content of homework."></textarea></div>
                <div class="add-field"><input required type="date" name="deadline"></div>
                <div class="add-field">
                    <select name="group">
                        {% for clas in classes %}
                            <option value="{{clas.id}}">{{clas.name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="add-field"><input type="submit" value="Submit"></div>
            </form>
        </div>
        
    </div>
    {%endif%}

    {%block script%}
        <script src="{% static 'classroom/homework.js' %}"></script>
    {%endblock%}
{%endblock%}