{% extends "classroom/layout.html" %}

{% load static %}

{%block title%}
    Homework
{%endblock%}

{%block body%}
    {{message}}
    {% if perrmision == True %}
    <button id="homework_button">Homeworks</button>
    <button id="add_button">Add Homework</button>
    {%endif%}
    <div id="homework">
        {%for homework in homeworks%}
            <div class="homework_display">
                <h4>{{homework.get_subject_display}} {% if perrmision == True %}{{homework.group}}{%endif%}</h4>
                {{homework.content}} {{homework.deadline}}
                {% if perrmision == False %}
                    <a href="{% url 'submission' homework.pk %}">Submit</a>
                {% endif %}
                {% if perrmision == True %}
                    <a href="{% url 'submission' homework.pk %}"> See submissions</a>
                {%endif%}
            </div>
            
        {%endfor%}
    </div>
    {% if perrmision == True %}
    <div id="add">
        <form action="" method="post">
            {%csrf_token%}
            <select name="subject">
                {%for subject in subjects%}
                    <option  value="{{subject.0}}">{{subject.1}}</option>
                {%endfor%}
            </select>
            <textarea name="content" ></textarea>
            <input type="date" name="deadline">
            <select name="group">
                {% for clas in classes %}
                    <option value="{{clas.id}}">{{clas.name}}</option>
                {%endfor%}
            </select>
            <input type="submit" value="submit">
        </form>
    </div>
    {%endif%}

    {%block script%}
        <script src="{% static 'classroom/homework.js' %}"></script>
    {%endblock%}
{%endblock%}