{% extends "classroom/layout.html" %}

{% load static %}

{%block title%}
    Plan
{%endblock%}

{%block body%}
    {% if messages %}
    <div class="messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        {{ message }}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if perrmision == True %}
    <button id="add_button">Add lesson</button>
    <button id="plan_button">Plan</button>
    {%endif%}
    <div id="plan_view">
        <div class="plan_div">
            <div class="flex_child">
                <div class="day">Monday</div>
                {%for lesson in lessons%}
                    {%if lesson.day == "MON"%}
                    <div class="lesson_div">
                        <div class="subject">{{lesson.get_subject_display}}</div>
                        <div class="time_lesson">{{lesson.time_start}} - {{lesson.time_end}}</div> 
                    </div>
                    {%endif%}
                {%endfor%}
            </div>
            <div class="flex_child">
                <div class="day">Tuesday</div>
                {%for lesson in lessons%}
                    {%if lesson.day == "TUE"%}
                    <div class="lesson_div">
                        <div class="subject">{{lesson.get_subject_display}}</div>
                        <div class="time_lesson">{{lesson.time_start}} - {{lesson.time_end}}</div> 
                    </div>
                    {%endif%}
                {%endfor%}
            </div>
            <div class="flex_child">
                <div class="day">Wensday</div>
                {%for lesson in lessons%}
                    {%if lesson.day == "WED"%}
                    <div class="lesson_div">
                        <div class="subject">{{lesson.get_subject_display}}</div>
                        <div class="time_lesson">{{lesson.time_start}} - {{lesson.time_end}}</div> 
                    </div>
                    {%endif%}
                {%endfor%}
            </div>
            <div class="flex_child">
                <div class="day">Thursday</div>
                {%for lesson in lessons%}
                    {%if lesson.day == "THU"%}
                    <div class="lesson_div">
                        <div class="subject">{{lesson.get_subject_display}}</div>
                        <div class="time_lesson">{{lesson.time_start}} - {{lesson.time_end}}</div> 
                    </div>
                    {%endif%}
                {%endfor%}
            </div>
            <div class="flex_child">
                <div class="day">Friday</div>
                {%for lesson in lessons%}
                    {%if lesson.day == "FRI"%}
                    <div class="lesson_div">
                        <div class="subject">{{lesson.get_subject_display}}</div>
                        <div class="time_lesson">{{lesson.time_start}} - {{lesson.time_end}}</div> 
                    </div>
                    {%endif%}
                {%endfor%}
            </div>
        </div>
    </div>
    {% if perrmision == True %}
    <div id="add_view">
        <div id="add-form">
            <h3>Add a new lesson</h3>
            <hr>
            <form action="" method="post">
                {%csrf_token%}
                <div class="add-field">
                    <select name="subject">
                        {%for subject in subjects%}
                            <option  value="{{subject.0}}">{{subject.1}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="add-field"><input required type="time" name="start_time" placeholder="Start Time"><input required type="time" name="end_time" placeholder="End Time"></div>
                <div class="add-field">
                    <select name="teacher">
                        {% for teacher in teachers %}
                            <option value="{{teacher.id}}">{{teacher.first_name}} {{teacher.last_name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="add-field">
                    <select name="class">
                        {% for clas in classes %}
                            <option value="{{clas.id}}">{{clas.name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="add-field">
                    <select name="day">
                        {% for day in days %}
                            <option value="{{day.0}}">{{day.1}}</option>
                        {%endfor%}
                    </select>
                </div>
                
                
                <div class="add-field"><input type="submit" value ="submit"></div>
            </form>
        </div>
        
        
    </div>
    {%endif%}
    {% block script %}
        <script src="{% static 'classroom/plan.js' %}"></script>
    {% endblock %}
{%endblock%}


