{% extends "classroom/layout.html" %}


{% load static %}

{%block title%}
    submissions
{%endblock%}

{%block body%}
    <h3>{{homework.content}}</h3>

    {% for submission in submissions %}
        <div>{{submission.student}}</div>
        {%if submission.grade.all %}
            <div>Grade: {{submission.grade.all.first.grade}}</div> 
            <div> <button onclick="gradeView('{{submission.pk}}')">Edit</button>
                <div class="grade_view" id="{{submission.pk}}" style="display: none;">{{submission.content}}
                    <form action="" method="POST">
                        {%csrf_token%}
                        <input type="hidden" name="type" value="edit"> 
                        <input type="number" min="0" max="100" name="grade" placeholder="Grade (0-100)">
                        <input type="text" name="feedback" placeholder="Write your feedback here (optional)">
                        <input type="hidden" value="{{submission.grade.first.pk}}" name="submission.id">
                        <input type="submit">
                    </form>
                    <button onclick="gradeView('{{submission.pk}}')">Back</button>
                </div>
            </div>
        {%else%}
        <div> <button onclick="gradeView('{{submission.pk}}')">Grade</button>
            <div class="grade_view" id="{{submission.pk}}" style="display: none;">{{submission.content}}
                <form action="" method="POST">
                    {%csrf_token%}
                    <input type="hidden" name="type" value="grade"> 
                    <input type="number" min="0" max="100" name="grade" placeholder="Grade (0-100)">
                    <input type="text" name="feedback" placeholder="Write your feedback here (optional)">
                    <input type="hidden" value="{{submission.pk}}" name="submission.id">
                    <input type="submit">
                </form>
                <button onclick="gradeView('{{submission.pk}}')">Back</button>
            </div>
        </div>
        {%endif%}
    {%endfor%}
    {%block script%}
        <script src="{% static 'classroom/grade.js' %}"></script>
    {%endblock%}
{%endblock%}