{% extends "classroom/layout.html" %}


{% load static %}

{%block title%}
    submissions
{%endblock%}

{%block body%}
    <h3 style="text-align: center;">Task: {{homework.content}}</h3>
    <div id="homework-page">
    {% for submission in submissions %}
    <div class="submission">
        <div style="margin-right: 20px;"><b>{{submission.student}}</b></div>
        {%if submission.grade.all %}
            <div style="margin-right: 10px;">Given grade: {{submission.grade.all.first.grade}}</div> 
            <div><button onclick="gradeView('{{submission.pk}}')">Edit</button>
                <div class="grade_view" id="{{submission.pk}}" style="display: none;">
                    <div class="submissions-form">
                    <div class="answer-box">Answer: {{submission.content}}</div>
                    <form action="" method="POST">
                        {%csrf_token%}
                        <div><input type="hidden" name="type" value="edit"></div> 
                        <div><input required type="number" min="0" max="100" name="grade" placeholder="Grade (0-100)"></div>
                        <div><input type="text" name="feedback" placeholder="Write your feedback here (optional)"></div>
                        <div><input type="hidden" value="{{submission.grade.first.pk}}" name="submission.id"></div>
                        <div><input type="submit"></div>
                    </form>
                    </div>
                    <button onclick="gradeView('{{submission.pk}}')">Back</button>
                </div>
            </div>
        {%else%}
        <div><button onclick="gradeView('{{submission.pk}}')">Grade</button>
            <div class="grade_view" id="{{submission.pk}}" style="display: none;">
                <div class="submissions-form">
                    <div class="answer-box">Answer: {{submission.content}}</div>
                    <form action="" method="POST">
                        {%csrf_token%}
                        <div><input type="hidden" name="type" value="grade"></div> 
                        <div><input required type="number" min="0" max="100" name="grade" placeholder="Grade (0-100)"></div>
                        <div><input type="text" name="feedback" placeholder="Write your feedback here (optional)"></div>
                        <div><input type="hidden" value="{{submission.pk}}" name="submission.id"></div>
                        <div><input type="submit"></div>
                    </form>
                    </div>
                    <button onclick="gradeView('{{submission.pk}}')">Back</button>
            </div>
        </div>
        {%endif%}
    </div>
    {%endfor%}
    </div>
    {%block script%}
        <script src="{% static 'classroom/grade.js' %}"></script>
    {%endblock%}
{%endblock%}